
h1	{
	text-align: center;
	color:	black;
	font-size: 80;
	font-family: times new roman;
}
#ImageContainer	{
	border-style: groove;
	border-width: thick;
	border-color: black;
	padding: 5px;
	float: center;
}
h2	{
	text-align: center;
	color: black;
	font-size:	60;
	font-family: times new roman;
}
p	{
	text-align: center;
	color: black;
	font-size: 20;
	font-family: times new roman;
}
li	{
	text-align: center;
	color: black;
	font-size: 20;
	font-family: times new roman;
}
a {
	color: black
	transform: color 0.4s ease;
}
a: hover {
	color: yellow;
}

body {
	text-align:center;
}
div	{
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
	box-shadow: 10px 10px 5px gray;

}

.list-inline{
	list-style:none;
	padding-left: 0px 20px;
}

.list-inline>li{
	padding: 0px 20px}
}

